# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / output
dist/
build/
.vite/

# Logs
*.log
logs/

# Environment / secrets
.env
.env.*

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing / coverage
coverage/

# Java / Maven / Spring Boot (user-service)
user-service/target/
*.class
# Java / Maven / Spring Boot (subreddit-service)
subreddit-service/target/
*.class
# Java / Maven / Spring Boot (content-service)
content-service/target/
*.class
# Java / Maven / Spring Boot (media-service)
media-service/target/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Spring Boot
### STS ###
.springBeans

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
*.iml
*.iws
.idea/
out/

# github
.github/


